*{
  box-sizing: border-box;
}

body{
  background-color: #fff;
  font-size: 14px;
  font-family: 'Open Sans', 'Arial', sans-serif; 
  color: #0e0c2e;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

.wrapper{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container_all{
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 80px 0 80px;
  flex: 1;
}

/* start header */

header{
  margin-bottom: 6.25rem;
}

/* end header */

/* start main */

.container{
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10.312rem;
}

.left_block{
  flex: 0 0 45%;
  padding-right: 8.125rem;
}

h1{
  font-weight: 700;
  font-size: 4em;
  line-height: 1.14;
  margin-bottom: 1.5rem;
}

h2{
  text-transform: uppercase;
  font-weight: 800;
  color: #fdb030;
  margin-bottom: 1.25rem;
  font-size: 1em;
}

.left_block_info{
  color: #616274;
  font-size: 1.571em;
  margin-bottom: 3.25rem;
}

.button{
  position: relative;
  display: flex;
  justify-content: space-between;
}

.button_item a{
  display: block;
  padding: 1rem;
  margin-right: 1rem;
  border: 2px solid #fdb030;
  color: #fdb030;
  text-align: center;
  font-weight: 700;
  transition: .8s;
  width: 12.5rem;
}

.button_item a:hover{
  background-color: #fdb030;
  color: #fff;
}

.right_block{
  flex: 0 0 55%;
}

video{
  height: 23.75rem;
  width: 46.125rem;
}

/* end main */

/* start footer */

footer img{
  height: 1.687rem;
} 

.footer_up{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 2rem 5rem;
}

.link_list{
  padding: 0;
  margin: 0;
  display: flex;
}

.link_item a{
  margin-left: 3.25rem;
  display: inline-block;
  color: #0e0c2e;
  line-height: 1.5;
  border-bottom: 2px solid transparent;
  transition: .8s;
}

.link_item a:hover{
  line-height: 1.5;
  border-bottom: 2px solid #fdb030;
}

.footer_down{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #010110;
  color: #fff;
  padding: 2rem 5rem;
}

.left{
  flex: 0 0 45%;
}

.left p{
  margin: 0;
}

.copyright a{
  font-size: 0.857em;
  color: #fff;
}

.copyright a:hover{
  color: #fdb030;
}

.right{
  flex: 0 0 55%;
}

.contacts{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.mail_info{
  background-image: url(../images/icon_mail.png);
  background-repeat: no-repeat;
  padding-left: 1.5rem;
  margin-right: 1rem;
}

.location_info{
  background-image: url(../images/icon_location.png);
  background-repeat: no-repeat;
  padding-left: 1.5rem;
}

.mail_info a,
.location_info a{
  color: #fff;
}

.mail_info a:hover,
.location_info a:hover{
  color: #fdb030;
}

/* end footer */